*.txt
*.sh
*.bat
*.cfg
*.lzma
forge*
fml*
mcp*
Start.java
src/Minecraft/cpw/*
src/Minecraft/ibxm/*
src/Minecraft/net/*
src/Minecraft/paulscode/*
bin/*
CHANGELOG
conf/*
docs/*
eclipse/*
jars/*
logs/*
runtime/*
temp/*